{% load i18n %}

{% block subject %}
Account activation on {{ site_name }}
{% endblock subject %}

{% block html_body %}
<div style="background-color:#e7e7e7;padding:20px 0;font-family:Arial,Helvetica,sans-serif;line-height:1.5;color:#1b1c1e">
    <table style="width:600px;margin:0 auto;background:#fff;direction:ltr">
        <tbody>
            <tr>
                <td>
                    <div style="padding:22px 0">
                        <img src="https://storage.yandexcloud.net/yac-wh-sb-prod-s3-media-03003/uploads/wysiwyg/galleries/%D1%81%D0%BE%D0%B1%D0%B0%D0%BA%D0%B0%20%D0%BF%D1%80%D1%8F%D1%87%D0%B5%D1%82%D1%81%D1%8F/1.pochemu_sobaka_pryachetsya.jpg" alt="logo" width="220" style="margin:0 auto;
                                                                                 display:block;
                                                                                 border-radius: 10px;">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="padding:16px 22px 0;text-align:center">
                        <h1 style="font-size:24px;margin-bottom:0">
                            Log in to {{ site_name }}
                        </h1>
                        <p style="font-size:16px;margin-top:8px">
                            Click the button below to confirm it's you
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <a href="{{ protocol }}://{{ domain }}:3001/{{ url|safe }}" style="color:#fff!important;
                                                          background-color:#191b1b;
                                                          display:block;
                                                          font-size:20px;
                                                          font-weight:600;
                                                          line-height:52px;
                                                          max-width:320px;
                                                          text-decoration:none;
                                                          width:320px!important;
                                                          height:100%;
                                                          margin:32px auto;
                                                          padding:0;
                                                          border-radius:4px;
                                                          text-align:center"
                        >
                            Verify Your Email
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock html_body %}